body
  font-family: 'Mukta', 'Noto Sans SC', sans-serif, "微软雅黑"

#app
  .search-box input
    color #667d99
    background-color #e7edf3
    border 2px solid transparent
    border-radius 4px

    &:focus
      background-color: #fff;
      border-color: $accentColor
    
    &::placeholder
      opacity 1

  .nav-links a, a.sidebar-link, .dropdown-title, .sidebar-heading
    color #667d99
  
  a.sidebar-link.active
    color $accentColor

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

.navbar .site-name
  display: none

.notification-container
  padding: 0.5rem 1.5rem;
  &.blue
    background-color: #e4f1ff;
  &.orange
    background-color: #e75b43;
