name: GitHub Pages

on:
  push:
    branches:
    - master

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@master
  
    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: npm run build
      if: github.event.deleted == false

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v1.1.0
      if: success()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: ./docs/.vuepress/dist